{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <h1>Hello {{ app.user ? app.user : 'Visitor' }}! ✅</h1>

    {% set columns = [
        'id',
        'name',
        'owner'
    ] %}
    <twig:simple_datatables :data="projects" :columns="columns">
        <twig:block name="name">
            <a href="{{ path('app_homepage', { project: row.id }) }}">
{#            <a href="{{ path('project_show', {id:row.id}) }}">#}
                                {{ row.name }}
                            </a>

        </twig:block>

    </twig:simple_datatables>
{% endblock %}
